/*
Error: The line was indented 2 levels deeper than the previous line.
        on line 57 of C:\Users\Darek\Desktop\IGPROJEKT\css\master.sass

52:   text-shadow: 2px 2px 3px #000
53:   h1::first-letter
54:     font-size: 32pt
55: 
56: .title_panel
57:     height: 45px
58:     background: rgba(44,61,78,0.9)
59:     @extend .for_center
60: 
61: .box-from
62:   height: 88%

Backtrace:
C:\Users\Darek\Desktop\IGPROJEKT\css\master.sass:57
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:520:in `tree'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:409:in `_to_tree'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:391:in `run'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/sass-3.4.22/bin/sass:13:in `<top (required)>'
C:/Ruby23-x64/bin/sass:23:in `load'
C:/Ruby23-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 2 levels deeper than the previous line.\A         on line 57 of C:\Users\Darek\Desktop\IGPROJEKT\css\master.sass\A \A 52:   text-shadow: 2px 2px 3px #000\A 53:   h1::first-letter\A 54:     font-size: 32pt\A 55: \A 56: .title_panel\A 57:     height: 45px\A 58:     background: rgba(44,61,78,0.9)\A 59:     @extend .for_center\A 60: \A 61: .box-from\A 62:   height: 88%"; }
